.App {
  text-align: center;
}

main {
  width: 100vw;
  height: 100vh;
  background: top left / cover no-repeat no-repeat url('./assets/images/backgroundBaby.png');

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 3fr;
  grid-gap: 40%;
}
.leftAsideBar {
  background-color: #86D3F4;
  padding: 12.5% 6%;
  color: black;
}
.rightAsideBar {
  padding: 20px;
}
p {
  margin: 0;
}